/* yorum satiri bu sekilde eklenir */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;1,200;1,400;1,500&display=swap');

body {
    font-family: 'Merriweather', serif; /* Bu kismi Google font tan CSS rules olarak alip geldik*/
    padding: 20px;
    font-size: 20px;
    background-color: yellowgreen;
}

* {
    box-sizing: border-box;
} /* bunu yapmazsak kaymalar oluyor */

a {
    text-decoration: none; /* linklerin altindaki cizgileri kaldirdik*/
}

input, textarea {
    border: 3px solid rgb(97, 144, 3);
    border-radius: 10px;
    width: 100%;
    padding: 15px;
}

button {
    border: 3px solid rgb(97, 144, 3);
    border-radius: 10px;
    background-color: rgb(97, 144, 3) ;
    font-size: 30px;
    color: yellow;
    padding: 10px 30px ;   /*Ilk parametre ust ve alttan uzakligi, ikinci parametre sag ve soldan uzakligi belirler  */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(97, 144, 3);
    background-color: yellow;
    border-radius: 50px;
    padding: 10px 30px;
}

.header .title {
    display: flex;
    align-items: center;
    gap: 15px; /* Flex elemanlarinin arasina bosluk koymak icin kullanilir*/
}

.menu a {
    font-weight: 700;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content .about {
    display: flex;
    align-items: center;
    width: 70%;
    padding: 40px;
    gap: 30px;
}

.about img {
    width: 500px;
    height: 500px;
    border: 5px solid rgb(97, 144, 3);
    border-radius: 250px;
    box-shadow: 10px 10px 15px rgb(97, 144, 3);
}

.about .description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-around;
    border-top: 5px dotted gray;
    margin: 20px;
}

.section {
    width: 60%;
}
.section .card {
    display: flex;
    border: 5px solid rgb(97, 144, 3) ;
    border-radius: 50px;
    background-color: yellow;
    margin: 40px;
    padding: 40px;
    box-shadow: 10px 10px 15px rgb(97, 144, 3);
}

.section .card .left {
    flex: 2;
}
.section .card .right {
    flex: 1;
}

h1{
    text-shadow:10px 10px 15px rgb(97, 144, 3);
    font-size: 50px;
}
.content h1 { /* olusturdugumuz span elemanin yazinin yaninda gorunmesi icin flex yaptik */
    display: flex;
    align-items: center;
    gap: 5px;
}

.content h1 span{ /* basliklarin yaninda span elemanin nokta olarak gorunmesi icin sekillendirme yaptik */
    width: 50px;
    height: 50px;
    border-radius: 25px ;
    background-color:yellow;
}